* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden; /* Запобігаємо прокручуванню сторінки */
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100vh; /* Задаємо висоту для контейнера, щоб повністю заповнити екран */
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 90vh; /* Обмежуємо висоту слайдерів, щоб вони не виходили за межі екрану */
    overflow-y: scroll; /* Додаємо вертикальне прокручування для слайдерів */
    scrollbar-width: thin; /* Для кращого вигляду смуги прокрутки */
}

.slider h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.slide {
    margin-bottom: 20px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.slide img {
    max-width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.slide img:hover {
    border-color: #f39c12;
}

.selected {
    opacity: 1 !important;
    border-color: #f39c12 !important;
}

/* Додаємо стилі для скроллбару, якщо потрібно */
.slider::-webkit-scrollbar {
    width: 8px;
}

.slider::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        height: auto;
    }

    .slider {
        width: 100%;
        margin-bottom: 20px;
        height: 50vh; /* Для мобільних пристроїв висота колонок може бути меншою */
    }
}
