.human-slider {
    overflow-y: hidden; /* Забороняємо скролювання */
}

.animal-slider {
    overflow-y: scroll; /* Дозволяємо скролювання для тварин */
    scrollbar-width: thin;
}

.slide {
    display: block;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none; /* Приховуємо неактивні слайди */
}
